In [1]:
import numpy as np
import pandas as pd
import requests
import gmaps
from config import gkey
import json
import scipy.stats as sts
from matplotlib import pyplot as plt
from pprint import pprint

gmaps.configure(api_key=gkey)

In [2]:
df = pd.read_csv('../WeatherPy/Resources/cities.csv')
df

,Cities,Temperature,Wind Speed,Humidity,Clouds,Latitude,Longitude
0,Šalovci,64.99,5.35,82,0,46.82,16.29
1,Guaratinguetá,80.60,1.12,47,20,-22.81,-45.19
2,Latacunga,66.20,10.29,48,75,-0.93,-78.62
3,Lincoln Park,69.01,9.17,34,40,42.25,-83.18
4,Tokyo,70.00,10.29,94,75,35.69,139.69
...,...,...,...,...,...,...,...
896,Northampton,73.00,7.67,41,0,40.88,-75.25
897,Laguna Beach,77.00,10.29,53,1,33.54,-117.78
898,Park Forest Village,72.00,5.82,37,40,40.81,-77.92
899,Ealing,68.00,2.24,93,19,51.51,-0.30
900,Mongu,56.26,4.97,46,0,-15.25,23.13

In [3]:
locations = df[['Latitude', 'Longitude']]
humidity = df['Humidity']
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
new_df = df.loc[(df['Temperature'] > 70) & (df['Temperature'] < 80) &
               (df['Wind Speed']< 10) & (df['Clouds']==0)]
locations = new_df[['Latitude', 'Longitude']]
humidity = new_df['Humidity']
new_df.count()
distances_df = new_df[['Latitude',"Longitude"]]
distances_df['Distance'] = ''
distances_df['Hotel'] = ''
distances_df.reset_index()

C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\dhlec\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    index  Latitude  Longitude Distance Hotel
0      26     42.05     -71.88
1      56     40.36     -74.04
2      90     40.69     -75.19
3     197     40.83     -74.53
4     222     65.75     150.85
5     312     36.02      14.24
6     325     39.40      47.03
7     337     40.31     -74.34
8     343     28.60      81.63
9     365     50.63     -96.99
10    374     40.69     -76.20
11    438     40.37     -74.00
12    499     36.30    -119.14
13    503     31.96      35.95
14    719     40.83     -74.53
15    721     39.35     -76.77
16    734     41.07     -74.37
17    747     41.02     -74.66
18    773     36.21    -121.13
19    866     40.93     -74.66
20    870     41.17     -74.05
21    896     40.88     -75.25

In [5]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100,
                                 point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "type": "hotel",
    "key": gkey
}

for index, row in new_df.iterrows():

    # get locations type from df
    coordinates = row['Longitude','Latitude']
    # add keyword to params dict
    params['location'] = coordinates

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {restr_type}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
        types_df.loc[index, 'name'] = results[0]['name']
        types_df.loc[index, 'address'] = results[0]['vicinity']
        types_df.loc[index, 'price_level'] = results[0]['price_level']
        types_df.loc[index, 'rating'] = results[0]['rating']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

26
56
90
197
222
312
325
337
343
365
374
438
499
503
719
721
734
747
773
866
870
896